.body {

}

.form-styled {
  font-size : 3 rem;
  color` : red;
}

input {
  font-size: inherit;
  font-family: inherit;
  color : inherit;

}

.form-flex {
  display : flex;
  flex-direction : column;

  margin: 20%;
  font-size : 5 rem;

}
